@import '_constants';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

::-webkit-input-placeholder {
    color: $grey;;
}

:-moz-placeholder {
   color: $grey;
   opacity: 1;
}

::-moz-placeholder {
   color: $grey;
   opacity: 1;
}

:-ms-input-placeholder {
   color: $grey;
}

::selection {
  background: $white;
}

::-moz-selection {
  background: $white;
}

.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background: $blue;
}

.login {
  height: 100%;
  width: 100%;
  position: absolute;
  
  .button-container {
    // height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 1;

    button {
      @include button();
    }

    button:hover {
      @include button-hover();
    }
  }

  .dimmer {
    height: 100%;
    width: 100%;
    position: absolute;
    background: $dimmer;
    z-index: 1;

    .close {
      @include close();
    }

    .close:hover {
      @include close-hover();
    }

    .login-container {
      height: 300px;
      width: 40%;
      position: absolute;
      top: 35%;
      margin: 0 30%;
      text-align: center;

      form {
        width: 100;
        margin: auto;

        input {
          @include input();
          width: 100%;
        }

        input:focus {
          @include input-focus();
        }

        button {
          @include button();
          margin-top: 40px;
        }

        button:hover {
          @include button-hover();
        }
      }
    }
  }
}

.content {
  height: 75%;
  width: 100%;
  position: absolute;
  top: 25%;
  font-family: $lato;
  font-weight: 300;
  text-align: center;
  color: $white;

  .logo {
    width: 40%;
    margin-bottom: 50px;
  }

  .tagline {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }

  .info {
    margin-top: 12%;
    text-transform: uppercase;
  }

  a, a:visited {
    color: $white;
  }

  form {
    width: 30%;
    margin: auto;

    input {
      @include input();
      width: 100%;
    }

    input:focus {
      @include input-focus();
    }

    button {
      @include button();
      margin-top: 40px;
    }

    button:hover {
      @include button-hover();
    }
  }
}

.results {
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: $lato;
  font-weight: 300;
  text-align: center;
  color: $white;

  .close {
    @include close();
  }

  .close:hover{
    @include close-hover();
  }

  .results-title {
    margin-top: 10%;
    margin-bottom: 20px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }
  
  .results-container {
    width: 50%;
    margin: auto;

    button {
      @include button();
      width: 100%;
      border: 3px solid $white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin: 20px 0;

      .lot-name {
        font-size: 2em;
      }
    }

    button:hover {
      @include button-hover();
    }
  }
}

/* Mobile */
@media only screen and (max-width : 480px) {
  .content {
    padding: 0;

    .logo {
      width: 75%;
    }

    .tagline {
      font-size: 1.5em;
    }

    .contact {
      font-size: 1em;
    }
  }
}
