@import '_constants';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.bg {
  height: 100%;
  width: 100%;
  position: fixed;
  background: $blue;
}

.navbar {

  .dimmer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: $dimmer;
    z-index: 1;

    .login-container {
      width: 30%;
      position: absolute;
      top: 35%;
      margin: 0 35%;
      text-align: center;

      form {
        width: 100%;
        margin: auto;

        input {
          width: 100%;
          font-weight: 100;
        }

        button {
          margin-top: 40px;
          font-weight: 100;
        }

        button:hover {
          color: $dimmer;
        }
      }
    }

    .signup-container {
      @extend .login-container;
      top: 28%;

      .left {
        width: 45%;
        float: left;
      }

      .right {
        width: 45%;
        float: right;
      }
    }
  }
}

.content {
  height: 75%;
  width: 100%;
  position: absolute;
  top: 25%;
  font-family: $lato;
  font-weight: 300;
  text-align: center;
  color: $white;

  .logo {
    width: 40%;
    margin-bottom: 50px;
  }

  .tagline {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .info {
    margin-top: 15%;
    text-transform: uppercase;
  }

  a, a:visited {
    color: $white;
  }

  form {
    width: 60%;
    margin: auto;

    input {
      width: 100%;
    }

    button {
      margin-top: 40px;
    }
  }
}

.search-results {

  .close {
    opacity: 1;
    position: fixed;
  }

  .map-box {
    height: 100vh;
    width: 70vw;
    position: fixed;

    #map {
      height: 100%;
      width: 100%;
    }

    .infoWindow {
      font-family: $lato;
      font-weight: 400;
      font-size: 1.3em;
      color: $blue;

      span#type {
        font-weight: 300;
        font-size: .8em;
        text-transform: uppercase;
      }
    }

    .gm-style-iw {
      top: 28px !important;
      left: 0 !important;
      padding: 10px 10px 10px 15px;
      background-color: #fff;
      border: 2px solid $blue;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
  }

  .results {
    height: 100vh;
    width: 30vw;
    left: 70vw;
    position: absolute;

    form {
      margin: 0 25px 10px 25px;
      
      #search {
        width: 100%;
        font-size: 1.5em;
      }
    }

    .results-container {
      padding-left: 2px;

      button {
        height: 100px;
        width: 100%;
        background: $white;
        padding: 5px 10px;
        margin: 1px 0;
        text-transform: none;
        text-align: left;
        color: $blue;

        .lot-name {
          font-weight: 400;
          display: inline-block;
        }

        .lot-type {
          font-size: .8em;
          text-transform: uppercase;
          display: inline-block;
        }

        .lot-address {

        }

        .lot-price {
          display: inline-block;
        }

        .lot-free {
          display: inline-block;
          text-align: right;
          float: right;
        }
      }

      button.selected {
        height: 400px;
      }

      button:hover {
        background: $hover;
      }
    }
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .logo {
    width: 75%;
  }

  .tagline {
    font-size: 1.5em;
  }

  .info {
    font-size: 1em;
  }
}