@import '_constants';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

::-webkit-input-placeholder {
    color: $grey;;
}

:-moz-placeholder {
   color: $grey;
   opacity: 1;
}

::-moz-placeholder {
   color: $grey;
   opacity: 1;
}

:-ms-input-placeholder {
   color: $grey;
}

.bg {
  height: 100%;
  width: 100%;
  position: fixed;
  background: $dimmer;
}

.register {
  width: 100%;
  position: absolute;
  font-family: $lato;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: $white;

  .title {
    margin-top: 10%;
    font-size: 3em;
    letter-spacing: 5px;
  }

  .map-container {
    width: 60%;
    margin: 3% 20%;
    text-align: center;
    font-size: 1em;

    form {
      width: 100%;
      margin: auto;

      input {
        width: 100%;
      }
    }

    .map-box {
      height: 50vh;
      width: 100%;
      margin: 5% 0 7% 0;
      
      #map {
        height: 100%;
        width: 100%;
      }
    }
  }

  .field {
    height: 40px;
    width: 100%;
    margin-top: 2%;
    font-size: 2em;
    letter-spacing: 2px;

    .left {
      height: 40px;
      width: 45%;
      text-align: right;
      float: left;
    }

    .vertical {
      height: 70px;
      position: absolute;
      left: 50%;
      margin-top: -15px;
      display: inline-block;
      border-left: 3px solid $white;
    }

    .right {
      height: 40px;
      width: 45%;
      text-align: left;
      float: right;
    }

    input.value {
      width: 95px;
      text-align: right;
    }

    .icon {
      height: 24px;
      width: 24px;
      cursor: pointer;
    }

    input {
      height: 40px;
      width: 67px;
      padding: 0;
      border-bottom: 1px solid $white;
      font-size: 100%;
    }
  }

  button {
    margin-top: 80px;
    margin-bottom: 10%;
  }
}
