@import '_constants';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

::-webkit-input-placeholder {
    color: $grey;;
}

:-moz-placeholder {
   color: $grey;
   opacity: 1;
}

::-moz-placeholder {
   color: $grey;
   opacity: 1;
}

:-ms-input-placeholder {
   color: $grey;
}

.bg {
  height: 100%;
  width: 100%;
  position: fixed;
  background: $dimmer;
}

.register {
  width: 100%;
  position: absolute;
  font-family: $lato;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: $white;

  .title {
    margin-top: 10%;
    font-size: 3em;
    letter-spacing: 5px;
  }

  .map-container {
    width: 60%;
    margin: 3% 20%;
    text-align: center;
    font-size: 1em;

    form {
      width: 100%;
      margin: auto;

      input {
        width: 100%;
      }
    }

    .map-box {
      height: 50vh;
      width: 100%;
      margin: 5% 0 7% 0;
      
      #map {
        height: 100%;
        width: 100%;
      }
    }
  }

  .field {
    height: 40px;
    width: 100%;
    margin-top: 2%;
    font-size: 2em;
    letter-spacing: 2px;

    .left {
      height: 40px;
      width: 45%;
      text-align: right;
      float: left;
    }

    .vertical {
      height: 70px;
      position: absolute;
      left: 50%;
      margin-top: -15px;
      display: inline-block;
      border-left: 3px solid $white;
    }

    .right {
      height: 40px;
      width: 45%;
      text-align: left;
      float: right;
    }

    .ui.simple.dropdown {
      min-width: 140px;
      background: transparent;
      border: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border-bottom: 1px solid $white;
      padding: 5px 0;
      font-family: $lato;
      font-weight: 300;
      text-align: left;
      text-transform: uppercase;
      font-size: 100%;
      color: $white;

      .text {
        margin: 0;
        padding: 0;
      }

      i.dropdown.icon {
        margin: 0;
        margin-right: -30px;
        padding: 0;
      }

      .menu {
        background: transparent;
        border: 0;
        border-radius: 0;
        box-shadow: none;

        .item {
          background: transparent;
          border-top: 1px solid $white;
          font-weight: 300;
          text-transform: uppercase;
          color: $white;
          transition: all 300ms ease;
        }

        .item:hover {
          background: $blue;
        }

        .active {
          font-weight: 400;
        }
      }
    }

    .ui.simple.dropdown:hover {
      border-bottom: 1px solid $white;
    }

    input {
      height: 40px;
      width: 67px;
      padding: 0;
      border-bottom: 1px solid $white;
      font-size: 100%;
    }

    input.value {
      width: 95px;
      text-align: right;
    }

    .icon {
      height: 24px;
      width: 24px;
      cursor: pointer;
    }
  }

  button {
    margin-top: 80px;
    margin-bottom: 10%;
  }

  button:hover {
    color: $dimmer;
  }
}
