@import '_constants';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.bg {
  height: 100%;
  width: 100%;
  position: fixed;
  background: $dimmer;
}

.reserve {
  width: 100%;
  position: absolute;
  font-family: $lato;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: $white;

  .title {
    margin-top: 5vh;
    font-size: 2.25em;
    letter-spacing: 5px;
  }

  .subtitle {
    margin-top: 15px;
    font-size: 1.25em;
    letter-spacing: 0;
  }

  .calendar-container {
    width: 43%;
    padding: 2% 30% 5% 27%;
    color: $white;

    .r {
      height: 20px;
      width: 100%;

      .c {
        height: 100%;
        width: 14.285%;
        float: left;
      }
    }

    .times {
      width: 3%;
      margin-top: 35px;
      margin-bottom: 12px;
      padding-right: 1%;
      float: left;
      text-align: right;
      font-size: .75em;

      .r {
        margin: 1px 0;
      }
    }

    .days {
      width: 95%;
      float: right;
      text-align: center;
      font-size: 1em;

      .r {
        height: 22px;
      }

      table.calendar {
        width: 100%;
        padding: 0;
        border-top: 2px solid $white;
        border-bottom: 2px solid $white;
        -webkit-border-horizontal-spacing: 1px;
        -webkit-border-vertical-spacing: 1px;

        tr.r {
          height: 20px;

          td.c {
            padding: 10px 0;
            outline: 1px solid $grey;
          }

          .available {
            // outline: 1px solid $grey;
            background: $blue
          }

          .reserved {
            background: $red;
          }

          .selected {
            background: $green;
          }
        }
      }
    }
  }

  button {
    margin: 5vh auto;
  }

  button:hover {
    color: $dimmer;
  }
}
