@import '_constants';

.map-box {
  height: 100vh;
  width: 50vw;
  position: absolute;

  #map {
    height: 100%;
    width: 100%;
  }
}

.results {
  height: 100vh;
  width: 50vw;
  left: 50vw;
  position: absolute;
  background-color: $blue;

  form {
    margin: 0 25px 10px 25px;
    
    #search {
      width: 100%;
      font-size: 1.5em;
    }
  }

  .results-container {
    margin: 0 25px;
    text-align: center;

    button {
      width: 100%;
      background: $white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      padding: 10px 20px;
      margin: 5px 0;
      text-transform: none;
      color: $blue;
    }

    button:hover {
      background: $hover;
    }
  }
}



// .results {

//   .results-title {
//     margin-top: 10%;
//     margin-bottom: 20px;
//     font-size: 2em;
//     text-transform: uppercase;
//     letter-spacing: 2.5px;
//   }
  
//   .results-container {
//     width: 50%;
//     margin: auto;

//     button {
//       width: 100%;
//       border: 3px solid $white;
//       -webkit-border-radius: 10px;
//       -moz-border-radius: 10px;
//       border-radius: 10px;
//       margin: 20px 0;

//       .lot-name {
//         font-size: 2em;
//       }
//     }
//   }
// }