@import '_constants';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.bg {
  height: 100%;
  width: 100%;
  position: fixed;
  background: $blue;
}

.schedule {
  width: 300px;
  height: 600px;

  .r {
    width: 100px;
    height: 100px;
    outline: 1px solid $white;
    float: left;

    .c {

    }
  }
}