# --------------------
# Target Files
# --------------------
/API/target

# --------------------
# web git
# --------------------
web/.git

# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# Eclipse or Nodeclipse "Enide Studio" Files
# --------------------
.project
.settings/
.*.md.html

# --------------------
# IntelliJ Files
# --------------------
.idea/
*.iml
*.ipr
*.iws

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/

# --------------------
# SASS Files
# --------------------
.sass-cache/
*.map

# --------------------
# Bower Files
# --------------------
.bower-*/
bower_components
