button {
  background: transparent;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: white;
  cursor: pointer;
  transition: all 300ms ease; }

button:hover {
  background: white;
  color: #004869; }

input {
  background: transparent;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 3px solid white;
  padding: 10px 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 2em;
  letter-spacing: 2.5px;
  color: white; }

input:focus {
  outline: 0; }

.close {
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 3%;
  opacity: .5;
  cursor: pointer;
  transition: all 300ms ease; }

close:hover {
  opacity: 1; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

::-webkit-input-placeholder {
  color: #969696; }

:-moz-placeholder {
  color: #969696;
  opacity: 1; }

::-moz-placeholder {
  color: #969696;
  opacity: 1; }

:-ms-input-placeholder {
  color: #969696; }

.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #004869; }

.login {
  height: 100%;
  width: 100%;
  position: absolute; }
  .login .button-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 1; }
    .login .button-container button {
      font-size: 1.25em; }
  .login .dimmer {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #191919;
    z-index: 1; }
    .login .dimmer .login-container, .login .dimmer .signup-container {
      width: 40%;
      position: absolute;
      top: 35%;
      margin: 0 30%;
      text-align: center; }
      .login .dimmer .login-container form, .login .dimmer .signup-container form {
        width: 100;
        margin: auto; }
        .login .dimmer .login-container form input, .login .dimmer .signup-container form input {
          width: 100%; }
        .login .dimmer .login-container form button, .login .dimmer .signup-container form button {
          margin-top: 40px; }
    .login .dimmer .signup-container {
      top: 28%; }
      .login .dimmer .signup-container .left {
        width: 45%;
        float: left; }
      .login .dimmer .signup-container .right {
        width: 45%;
        float: right; }

.content {
  height: 75%;
  width: 100%;
  position: absolute;
  top: 25%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  color: white; }
  .content .logo {
    width: 40%;
    margin-bottom: 50px; }
  .content .tagline {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2.5px; }
  .content .info {
    margin-top: 12%;
    text-transform: uppercase; }
  .content a, .content a:visited {
    color: white; }
  .content form {
    width: 60%;
    margin: auto; }
    .content form input {
      width: 100%; }
    .content form button {
      margin-top: 40px; }

/* Mobile */

/*# sourceMappingURL=main.css.map */
