html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

::-webkit-input-placeholder {
  color: #969696; }

:-moz-placeholder {
  color: #969696;
  opacity: 1; }

::-moz-placeholder {
  color: #969696;
  opacity: 1; }

:-ms-input-placeholder {
  color: #969696; }

::selection {
  background: white; }

::-moz-selection {
  background: white; }

.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #004869; }

.login {
  height: 100%;
  width: 100%;
  position: absolute; }
  .login .button-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 1; }
    .login .button-container button {
      background: transparent;
      border: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      padding: 10px 20px;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      text-align: center;
      font-size: 1.5em;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      color: white;
      cursor: pointer;
      transition: all 300ms ease; }
    .login .button-container button:hover {
      background: white;
      color: #004869; }
  .login .dimmer {
    height: 100%;
    width: 100%;
    position: absolute;
    background: black;
    z-index: 1; }
    .login .dimmer .close {
      height: 25px;
      position: absolute;
      top: 0;
      left: 0;
      margin: 3%;
      opacity: .5;
      cursor: pointer;
      transition: all 300ms ease; }
    .login .dimmer .close:hover {
      opacity: 1; }
    .login .dimmer .login-container {
      height: 300px;
      width: 40%;
      position: absolute;
      top: 35%;
      margin: 0 30%;
      text-align: center; }
      .login .dimmer .login-container form {
        width: 100;
        margin: auto; }
        .login .dimmer .login-container form input {
          background: transparent;
          border: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          border-bottom: 3px solid white;
          padding: 10px 0;
          font-family: "Lato", sans-serif;
          font-weight: 300;
          text-align: center;
          font-size: 2em;
          letter-spacing: 2.5px;
          color: white;
          width: 100%; }
        .login .dimmer .login-container form input:focus {
          outline: 0; }
        .login .dimmer .login-container form button {
          background: transparent;
          border: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          padding: 10px 20px;
          font-family: "Lato", sans-serif;
          font-weight: 300;
          text-align: center;
          font-size: 1.5em;
          text-transform: uppercase;
          letter-spacing: 2.5px;
          color: white;
          cursor: pointer;
          transition: all 300ms ease;
          margin-top: 40px; }
        .login .dimmer .login-container form button:hover {
          background: white;
          color: #004869; }

.content {
  height: 75%;
  width: 100%;
  position: absolute;
  top: 25%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  color: white; }
  .content .logo {
    width: 40%;
    margin-bottom: 50px; }
  .content .tagline {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2.5px; }
  .content .info {
    margin-top: 12%;
    text-transform: uppercase; }
  .content a, .content a:visited {
    color: white; }
  .content form {
    width: 30%;
    margin: auto; }
    .content form input {
      background: transparent;
      border: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border-bottom: 3px solid white;
      padding: 10px 0;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      text-align: center;
      font-size: 2em;
      letter-spacing: 2.5px;
      color: white;
      width: 100%; }
    .content form input:focus {
      outline: 0; }
    .content form button {
      background: transparent;
      border: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      padding: 10px 20px;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      text-align: center;
      font-size: 1.5em;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      color: white;
      cursor: pointer;
      transition: all 300ms ease;
      margin-top: 40px; }
    .content form button:hover {
      background: white;
      color: #004869; }

.results {
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  color: white; }
  .results .close {
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 3%;
    opacity: .5;
    cursor: pointer;
    transition: all 300ms ease; }
  .results .close:hover {
    opacity: 1; }
  .results .results-title {
    margin-top: 10%;
    margin-bottom: 20px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2.5px; }
  .results .results-container {
    width: 50%;
    margin: auto; }
    .results .results-container button {
      background: transparent;
      border: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      padding: 10px 20px;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      text-align: center;
      font-size: 1.5em;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      color: white;
      cursor: pointer;
      transition: all 300ms ease;
      width: 100%;
      border: 3px solid white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin: 20px 0; }
      .results .results-container button .lot-name {
        font-size: 2em; }
    .results .results-container button:hover {
      background: white;
      color: #004869; }

/* Mobile */
@media only screen and (max-width: 480px) {
  .content {
    padding: 0; }
    .content .logo {
      width: 75%; }
    .content .tagline {
      font-size: 1.5em; }
    .content .contact {
      font-size: 1em; } }

/*# sourceMappingURL=main.css.map */
