button {
  background: transparent;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: white;
  cursor: pointer;
  transition: all 300ms ease; }

button:hover {
  background: white;
  color: #004869; }

input {
  background: transparent;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 3px solid white;
  padding: 10px 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 2em;
  letter-spacing: 2.5px;
  color: white; }

input:focus {
  outline: 0; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.close {
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 3%;
  opacity: .5;
  cursor: pointer;
  transition: all 300ms ease; }

.close:hover {
  opacity: 1; }

.navbar {
  height: 100%;
  width: 100%;
  position: absolute; }
  .navbar .button-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 1; }
    .navbar .button-container button {
      font-size: 1.25em; }
      .navbar .button-container button a {
        color: white;
        text-decoration: none; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

::-webkit-input-placeholder {
  color: #969696; }

:-moz-placeholder {
  color: #969696;
  opacity: 1; }

::-moz-placeholder {
  color: #969696;
  opacity: 1; }

:-ms-input-placeholder {
  color: #969696; }

.bg {
  height: 100%;
  width: 100%;
  position: fixed;
  background: #004869; }

.navbar .dimmer {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #191919;
  z-index: 1; }
  .navbar .dimmer .login-container, .navbar .dimmer .signup-container {
    width: 40%;
    position: absolute;
    top: 35%;
    margin: 0 30%;
    text-align: center; }
    .navbar .dimmer .login-container form, .navbar .dimmer .signup-container form {
      width: 100%;
      margin: auto; }
      .navbar .dimmer .login-container form input, .navbar .dimmer .signup-container form input {
        width: 100%; }
      .navbar .dimmer .login-container form button, .navbar .dimmer .signup-container form button {
        margin-top: 40px;
        font-weight: 300; }
      .navbar .dimmer .login-container form button:hover, .navbar .dimmer .signup-container form button:hover {
        color: #191919; }
  .navbar .dimmer .signup-container {
    top: 28%; }
    .navbar .dimmer .signup-container .left {
      width: 45%;
      float: left; }
    .navbar .dimmer .signup-container .right {
      width: 45%;
      float: right; }

.content {
  height: 75%;
  width: 100%;
  position: absolute;
  top: 25%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  color: white; }
  .content .logo {
    width: 40%;
    margin-bottom: 50px; }
  .content .tagline {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2.5px; }
  .content .info {
    margin-top: 15%;
    text-transform: uppercase; }
  .content a, .content a:visited {
    color: white; }
  .content form {
    width: 60%;
    margin: auto; }
    .content form input {
      width: 100%; }
    .content form button {
      margin-top: 40px; }

.search-results .map-box {
  height: 100vh;
  width: 50vw;
  position: fixed; }
  .search-results .map-box #map {
    height: 100%;
    width: 100%; }
  .search-results .map-box .infoWindow {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #004869; }
    .search-results .map-box .infoWindow span#type {
      font-weight: 300;
      font-size: .8em;
      text-transform: uppercase; }
  .search-results .map-box .gm-style-iw {
    top: 28px !important;
    left: 0 !important;
    padding: 10px 10px 10px 15px;
    background-color: #fff;
    border: 2px solid #004869;
    border-radius: 10px; }
.search-results .results {
  height: 100vh;
  width: 50vw;
  left: 50vw;
  position: absolute; }
  .search-results .results form {
    margin: 0 25px 10px 25px; }
    .search-results .results form #search {
      width: 100%;
      font-size: 1.5em; }
  .search-results .results .results-container {
    margin: 0 25px;
    text-align: center; }
    .search-results .results .results-container button {
      height: 140px;
      width: 100%;
      background: white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      padding: 10px 20px;
      margin: 5px 0;
      text-transform: none;
      color: #004869; }
      .search-results .results .results-container button .lot-name {
        font-weight: 400; }
    .search-results .results .results-container button.selected {
      height: 400px; }
    .search-results .results .results-container button:hover {
      background: #f0f0f0; }

/* Mobile */
@media only screen and (max-width: 480px) {
  .logo {
    width: 75%; }

  .tagline {
    font-size: 1.5em; }

  .info {
    font-size: 1em; } }

/*# sourceMappingURL=main.css.map */
