button {
  background: transparent;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: white;
  cursor: pointer;
  transition: all 300ms ease; }

button:hover {
  background: white;
  color: #004869; }

input {
  background: transparent;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 3px solid white;
  padding: 10px 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 2em;
  letter-spacing: 2.5px;
  color: white; }

input:focus {
  outline: 0; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.close {
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 3%;
  opacity: .5;
  cursor: pointer;
  transition: all 300ms ease; }

.close:hover {
  opacity: 1; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

::-webkit-input-placeholder {
  color: #969696; }

:-moz-placeholder {
  color: #969696;
  opacity: 1; }

::-moz-placeholder {
  color: #969696;
  opacity: 1; }

:-ms-input-placeholder {
  color: #969696; }

.bg {
  height: 100%;
  width: 100%;
  position: fixed;
  background: #191919; }

.register {
  width: 100%;
  position: absolute;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: white; }
  .register .title {
    margin-top: 7%;
    font-size: 3em;
    letter-spacing: 5px; }
  .register .subtitle {
    margin-top: 10%;
    font-size: 2.5em;
    letter-spacing: 5px; }
    .register .subtitle .tagline {
      margin: 15px 5%;
      font-size: .5em;
      letter-spacing: 0; }
  .register .map-container {
    width: 90%;
    max-width: 800px;
    margin: 3% auto;
    text-align: center;
    font-size: 1em; }
    .register .map-container form {
      width: 100%;
      margin: auto; }
      .register .map-container form input {
        width: 100%; }
    .register .map-container .map-box {
      height: 50vh;
      width: 100%;
      margin: 5% 0 7% 0; }
      .register .map-container .map-box #map {
        height: 100%;
        width: 100%; }
  .register .field {
    height: 40px;
    width: 100%;
    margin-top: 2%;
    font-size: 2em;
    letter-spacing: 2px; }
    .register .field .left {
      height: 40px;
      width: 45%;
      text-align: right;
      float: left; }
    .register .field .vertical {
      height: 80px;
      position: absolute;
      left: 50%;
      margin-top: -15px;
      display: inline-block;
      border-left: 3px solid white; }
    .register .field .right {
      height: 40px;
      width: 45%;
      text-align: left;
      float: right; }
    .register .field input {
      height: 40px;
      width: 67px;
      padding: 0;
      border-bottom: 1px solid white;
      font-size: 100%; }
    .register .field .icon {
      height: 24px;
      width: 24px;
      cursor: pointer; }
  .register .calendar-container {
    width: 63%;
    padding: 2% 20% 5% 17%;
    color: white; }
    .register .calendar-container .r {
      height: 23px;
      width: 100%; }
      .register .calendar-container .r .c {
        height: 100%;
        width: 14.285%;
        float: left; }
    .register .calendar-container .times {
      width: 3%;
      margin-top: 47px;
      margin-bottom: 13px;
      padding-right: 1%;
      float: left;
      text-align: right;
      font-size: .75em; }
      .register .calendar-container .times .r {
        margin: 2px 0;
        font-size: 1.25em; }
    .register .calendar-container .days {
      width: 95%;
      float: right;
      text-align: center; }
      .register .calendar-container .days .r {
        height: 30px; }
        .register .calendar-container .days .r .c {
          font-size: 1.25em; }
      .register .calendar-container .days table.calendar {
        width: 100%;
        padding: 0;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        -webkit-border-horizontal-spacing: 1px;
        -webkit-border-vertical-spacing: 1px; }
        .register .calendar-container .days table.calendar tr.r {
          height: 22px; }
          .register .calendar-container .days table.calendar tr.r td.c {
            padding: 12px 0;
            outline: 1px solid #969696; }
          .register .calendar-container .days table.calendar tr.r .selected {
            background: #004869; }
  .register button {
    margin-top: 7%;
    margin-bottom: 10%; }
  .register button:hover {
    color: #191919; }
