<!DOCTYPE html>
<html>
<head lang="en">
  <title>AVOKTECH</title>

  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/main.css' rel='stylesheet' type='text/css'>

  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no' />

  <script src="/javascripts/main.js"></script>

</head>
</body>
  <div class="content">
    <img src="/images/logo-black.svg"
         onerror="this.onerror=null; this.src='/images/logo-black.png'" class="logo">
    <div class="tagline">
      Coming Soon
    </div>
    <div class="contact">
      For questions, please email <a href="mailto:larryzhang@mit.edu">larryzhang@mit.edu</a>
    </div>
  </div>
</body>
</html>
